{% extends "base2.html" %}

{% block title %}Página no encontrada{% endblock %}

{% block contenido %}
<div class="container text-center" style="margin-top: 50px;">
    <div class="row">
        <div class="col-md-12">
            <h1 style="font-size: 100px; color: #dc3545;">404</h1>
            <h2>¡Ups! Página no encontrada</h2>
            <p class="lead">Lo sentimos, pero el usuario o la página que buscas no existe o ha sido movida.</p>
            <hr>
            <a href="{{ url_for('inicio') }}" class="btn btn-primary btn-lg">
                <i class="glyphicon glyphicon-home"></i> Volver al Inicio
            </a>
        </div>
    </div>
</div>
{% endblock %}