Flask==3.1.2
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
Flask-Bootstrap==3.3.7.1
WTForms==3.2.1
SQLAlchemy==2.0.46
Werkzeug==3.1.5
Jinja2==3.1.6
click==8.3.1
itsdangerous==2.2.0
MarkupSafe==3.0.3
Blinker==1.9.0
colorama==0.4.6
greenlet==3.3.1
